
$leftBoxSize:25%;
$colorDate:#79BD8F;
$colorDateSelected:#a3ffc0;
$colorNoDate:#ccc;
$btnsSize:25px;

$shadow:2px 2px 0px #666;
$noshadow:0px 0px 0px #666;

$doc0: rgb(166,206,227);
$doc1: rgb(178,223,138);
$doc2: rgb(251,154,153);
$doc3: rgb(253,191,111);
$doc4: rgb(202,178,214);
$doc5: rgb(255,255,153);
$doc6: rgb(31,120,180);
$doc7: rgb(51,160,44);
$doc8: rgb(227,26,28);
$doc9: rgb(255,127,0);
$doc10: rgb(106,61,154);
$doc11: rgb(177,89,40);

$highlightColor:#FF6138;


html{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
// Basic Layout
#leftBox{ position:absolute; height:100%; width:$leftBoxSize; background-color:#fff; top:0; left:0; }
#rightBox{ position:absolute; height:100%; width:100%-$leftBoxSize; top:0; left:$leftBoxSize;
  #topBox{ position:relative; height: 50px; width: 100%; background-color:#efefef; }
  #bottomBox{ position:absolute; top: 50px; bottom: 0px; width: 100%; background-color:#efefef; }
  }


.ctlBtns{ width:$btnsSize; height:$btnsSize; margin:5px 2px 10px 10px; border:1px solid #efefef; background-repeat:no-repeat;
    float: left; background-color:#fff; background-position:center; cursor:pointer;
    box-shadow: $shadow; -moz-box-shadow: $shadow; -webkit-box-shadow: $shadow; }
.ctlBtns:active{ box-shadow: $noshadow; -moz-box-shadow: $noshadow; -webkit-box-shadow: $noshadow;
    margin: 12px 0px 8px 12px; }
#addDoc, #addDate{ background-image:url(../img/add.png); margin:5px; }
#addDate{ position:absolute; top:250px; left:10px;}
#addDoc:active, #addDate:active{ margin:8px 2px 2px 8px; }


// Left Box (Text or List display)
#leftBox{
  #view_switch{ width:100%; height:20px; position:absolute; z-index:10; text-align:center; }
  #docSwitcher{ position:absolute; top:-2px; left:0px; z-index:10; 
    .docBtn{ padding: 5px 15px 3px 8px; margin: 0 5px 7px 0; float:left; cursor:pointer; position:relative;
      -moz-box-shadow:$shadow; -webkit-box-shadow:$shadow; box-shadow:$shadow; font-size:12px; max-width:170px; height:$btnsSize; overflow:hidden; line-height:$btnsSize }
    .inactive{ font-size: 5px; background-color: #999 !important; color:#fff !important }
    .inactive .hideDoc{ background-image: url("../img/reload.png") !important; }
    .docBtn:active, .activeBtn{ margin:2px 3px 5px 2px; -moz-box-shadow:$noshadow; -webkit-box-shadow:$noshadow; box-shadow:$noshadow; }
    .hideDoc{ width:10px; height:10px; position:absolute; top:3px; right:2px; background-image:url("../img/delete.png"); background-size:100%;}
    /*.docBtn_0{ background-color: $doc0; }
    .docBtn_1{ background-color: $doc1; }
    .docBtn_2{ background-color: $doc2; }*/
  }
  .sidebar{ overflow-y:auto; position:absolute; background-color: #fff; height:100%; width:100%; padding:50px 20px 20px; border-right:1px solid #333; box-sizing: border-box; }
  .activetab{ z-index: 1; }

  .highlighted{ background-color:rgba(255,255,157,0.5); }
  .timex{ cursor:pointer; }
  .txtData{  
    .tx{ color: $highlightColor; font-weight: bold; }
    
    }
  #listData{
    .listEl{ cursor:pointer; }
    ul > .doc_0 { color: $doc0; }
    ul > .doc_1 { color: $doc1; }
    ul > .doc_2 { color: $doc2; }
    ul > .doc_3 { color: $doc3; }
    ul > .doc_4 { color: $doc4; }
    ul > .doc_5 { color: $doc5; }
    ul > .doc_6 { color: $doc6; }
    ul > .doc_7 { color: $doc7; }
    ul > .doc_8 { color: $doc8; }
    ul > .doc_9 { color: $doc9; }
    ul > .doc_10 { color: $doc10; }
    ul > .doc_11 { color: $doc11; }
    ul > li > span { color: #000; }
  }

}

// Top Box for Tools
#topBox{
  

  //#addDoc{ background-image:url(../img/addDoc.png); }
  #selectBox{ position:absolute; top:40px; left:11px; z-index:1; }

  
  //#addDate{ background-image:url(../img/add.png); }
  #mergeDates{ background-image:url(../img/merge.png); }
  #deleteAll{ background-image:url(../img/deleteAll.png); }

  #loadData{ position:absolute; right:80px; background-image:url(../img/loadData.png); }
  #loadDataOptions{ position:absolute; top:40px; z-index:1; right:82px; }

  #saveState{ position:absolute; right:45px; background-image:url(../img/saveState.png); }
  #exportJson{ position:absolute; right:10px; background-image:url(../img/exportJson.png); }

  ul{ list-style-type: none; padding: 0px; margin: 0px; cursor:pointer; }
  li{ background-color: #fff; margin: 2px 0; padding:2px 10px; -webkit-box-shadow:$shadow; -moz-box-shadow:$shadow; box-shadow:$shadow}
  li:hover{ background-color:#efefef }
  li:active{ -webkit-box-shadow:$noshadow; -moz-box-shadow:$noshadow; box-shadow:$noshadow; margin: 4px 0 0 2px; }
}

#bottomBox{
  
  .display{
    width:500px; text-align: center; font-size: 0.5; height: auto; left: 50%; margin-left: -250px; margin-top:20px; position:relative;
    #name{ font-size: 1; font-weight: bold; }
    #sentence{ font-style: italic; margin-bottom: 10px; color:#666;}
    #tools{  margin-left: auto; margin-right: auto; width:40px;
      .tool{ width:30px; height: 30px; margin: 5px; float:left; cursor:pointer; background-repeat:no-repeat; }
      #tool_edit{}
      #tool_move{}
      #tool_delete{ background-image:url(../img/delete.png); }
    }
  }

  #selectedItemInfobox{
    position:absolute; bottom: 0px; width:100%; height:15px; line-height:15px;
    font-size:9px; background-color:#efefef; text-align:center; }


  h1{ font-size: 18px; }
  h2{ font-size: 15px; text-decoration: underline; color:#333; }
  p{ font-size: 12px; font-weight:normal; }
  input{ font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; text-align:center; }
  .addDimension{ padding: 7px 0 0; cursor:pointer; color:#999; background-position: center top; vertical-align:bottom;
    background-image:url(../img/editAdd.png); background-repeat:no-repeat; font-size:8px; }
  #displayDate input{ font-size: 18px; }
  
  .changeUnit{ background-image:url(../img/dateToDur.png); margin-top:5px; float:right }
  .durtodate{ background-image:url(../img/durToDate.png); margin-top:5px; float:right }
  #check{ background-image:url(../img/check.png); margin-top:5px; float:right }
  #dateEditMode{ }
  #displaySubtitle input{ font-size: 14px; }
  #recoverElement{ position:absolute; text-align:left; bottom:10px; left:10px; font-size:10px; }
}


.timelineItem{
    -moz-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    cursor: pointer;
    }
.selected{ stroke: $highlightColor; stroke-width: 3px; }

.datelabel{ display: none; text-align: center; }
.visible{ display: block; }



#fileinfo{ position:absolute; right:10px; top:10px; }


// D3 Timeline Styles
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}
#timeline{ height: 300px; background-color:#fff; 
  .timeline-label { font-family: sans-serif; font-size: 32px; }
  .extent{ fill: none; stroke: #999; stroke-width: 1px; stroke-dasharray: 5 }
}

#timeline2 .axis {
  transform: translate(0px,30px);
  -ms-transform: translate(0px,30px); /* IE 9 */
  -webkit-transform: translate(0px,30px); /* Safari and Chrome */
  -o-transform: translate(0px,30px); /* Opera */
  -moz-transform: translate(0px,30px); /* Firefox */
}

.coloredDiv {
  height:20px; width:20px; float:left;
}

.nouserselect{
  -moz-user-select:-moz-none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none
   }

.nodisplay{ display:none; }
.notSelectable{ color:#ccc; }
.notSelectable:hover{ background-color:#fff !important; }

#inputOverlay{ display:none; position:absolute;top:0; right:0; bottom:0; left:0; background-color:rgba(255,255,255,0.9); z-index:11; padding:20px;
  #closeInput{ position:absolute; top:0px; right:0; height:50px; width:50px; background-image:url(../img/closeInput.png); background-repeat:no-repeat; background-position:center; cursor:pointer;}
  #inputContainer{ width:360px; margin: 0 auto; }
  h1{ font-size:20px; }
}