
$leftBoxSize:25%;
$colorDate:#79BD8F;
$colorDateSelected:#a3ffc0;
$colorNoDate:#ccc;
$btnsSize:25px;

$shadow:2px 2px 0px #666;
$noshadow:0px 0px 0px #666;

$doc0: rgb(166,206,227);
$doc1: rgb(178,223,138);
$doc2: rgb(251,154,153);
$doc3: rgb(253,191,111);
$doc4: rgb(202,178,214);
$doc5: rgb(255,255,153);


$highlightColor:rgb(255, 97, 56);
$highlightColorHalf:rgba(255, 97, 56, 0.4);

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

html, body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; background-color:#efefef; height:100%; margin:0;
}
// Basic Layout
#topBox{ position:relative; height: 50%; width: 100%; background-color:#efefef; }

#bottomBox{ position:relative; height: 50%; width: 100%; background-color:#f9f9f9; border-top: 1px solid #999; box-sizing: border-box;

  #leftBox{ height:100%; width:30%; float:left; overflow-y: auto; border-right: 1px solid #999; box-sizing: border-box; }
  #centerBox{ height:100%; width:30%; float:left; overflow-y: auto; overflow-x: hidden; border-right: 1px solid #999; box-sizing: border-box; }
  #rightBox{ height:100%; width: 40%; float:left; position:relative; }
  
  }

#topBox{
  #tlc{ position:absolute; left:10px; top:0px; font-size:20px; font-weight:lighter; color:#999; margin:10px; }
}

#leftBox{
  table{ padding:15px; width:100%; border-collapse:collapse; font-size:0.9em; }
  tr{ border-bottom: 1px solid #ccc !important; }
  tr:hover{ background-color:#efefef; }
  td{ padding: 0 5px; }
  td:nth-child(3){ line-height:1em; }
  .deleted{ text-decoration:line-through; background-color:#ccc; font-size:0.7em; }
}
// Center Box
#centerBox{
   #docSwitcher{ z-index:10; height:auto; min-height:40px; position:absolute; max-width:29%;
    .docBtn{ padding: 5px 15px 3px 8px; margin: 0 5px 7px 0; float:left; cursor:pointer; position:relative;
      -moz-box-shadow:$shadow; -webkit-box-shadow:$shadow; box-shadow:$shadow; font-size:12px; max-width:170px; height:$btnsSize; overflow:hidden; line-height:$btnsSize }
    #addDoc{ float:left; }
    .inactive{ font-size: 5px; background-color: #999 !important; color:#fff !important }
    .inactive .hideDoc{ background-image: url("../img/reload.png") !important; }
    .docBtn:active, .activeBtn{ margin:2px 3px 5px 2px; -moz-box-shadow:$noshadow; -webkit-box-shadow:$noshadow; box-shadow:$noshadow; }
    .hideDoc{ width:10px; height:10px; position:absolute; top:3px; right:2px; background-image:url("../img/delete.png"); background-size:100%;}
  }
  #docText{ padding:15px;
    
    .txtData{ display:none;
      .tx{ color: $highlightColor; font-weight: bold; }
    }
    .activetab{ display:block; }
  }
}

#rightBox{ 
  #toolBox{ position:absolute; right:0; top:0; height:100%; width: ($btnsSize+10px);
    #loadData{ background-image:url(../img/loadData.png); }
    #loadDataOptions{ position:absolute; top:40px; z-index:1; right:82px; }
    #saveState{ background-image:url(../img/saveState.png); }
    #exportJson{ background-image:url(../img/exportJson.png); }
    #tool_delete{ background-image:url(../img/delete.png); }
    #mergeDates{ background-image:url(../img/merge.png); }
    #deleteAll{ background-image:url(../img/deleteAll.png); }
  }
  .display{
    @include calc(width, "100% - 60px"); padding:15px;
    .media p{ font-size:0.8em; }
    #addMedia{ width: 80px; height: $btnsSize + 10;  margin: 20px 0 0 0px; 
      #addMediaBtn{ border:1px solid #efefef; background-color:#fff; cursor:pointer; font-weight: bold; font-size: 0.7em; padding: 3px 8px; color: #333; 
      box-shadow: $shadow; -moz-box-shadow: $shadow; -webkit-box-shadow: $shadow; float:left; }
      #addMediaBtn:active{ box-shadow: $noshadow; -moz-box-shadow: $noshadow; -webkit-box-shadow: $noshadow; }
      #mediaIndicator{ width:$btnsSize; height:$btnsSize; background-image:url(../img/hasMedia.png); margin-top:-24px; margin-left:100px; }
      .hasMedia{ background-position: right; }
    }
    #addMediaBox{ padding:1px 10px; background-color:#efefef; }
  }
}

// BUTTON STYLE
.ctl{ padding:5px 10px; background-color:#fff; cursor:pointer; box-shadow: $shadow; -moz-box-shadow: $shadow; -webkit-box-shadow: $shadow;}
.ctlBtns{ width:$btnsSize; height:$btnsSize; margin:4px 2px; border:1px solid #efefef; background-repeat:no-repeat;
    background-color:#fff; background-position:center; cursor:pointer;
    box-shadow: $shadow; -moz-box-shadow: $shadow; -webkit-box-shadow: $shadow; }
.ctlBtns:active,  .ctl:active{ box-shadow: $noshadow; -moz-box-shadow: $noshadow; -webkit-box-shadow: $noshadow;
    margin: 2px 0px 0px 2px; }

#addDoc, #addDate{ background-image:url(../img/add.png); margin:5px; }
#addDate{ position:absolute; top:250px; left:10px;}
#prevDate, #nextDate{ position:absolute; top:105px; background-image:url(../img/arrows.png) }
#prevDate{ left:10px; background-position:left; }
#nextDate{ right:10px; background-position:right; }
#addDoc:active, #addDate:active{ margin:8px 2px 2px 8px; }


// Left Box (Text or List display)

  #view_switch{ width:100%; height:20px; position:absolute; z-index:10; text-align:center; }
 
  .listview{ overflow-y:auto; position:absolute; background-color: #fff; height:100%; width:100%; padding:50px 20px 20px; border-right:1px solid #333; box-sizing: border-box; }
  


  .highlighted{ background-color:rgba(255,255,157,0.5); }
  .timex{ cursor:pointer; }
  
  #listData{
    .listEl{ cursor:pointer; }
    .docColor_0 { color: $doc0; }
    .docColor_1 { color: $doc1; }
    .docColor_2 { color: $doc2; }
    .docColor_3 { color: $doc3; }
    .docColor_4 { color: $doc4; }
    .docColor_5 { color: $doc5; }
    ul > li > span { color: #000; }
  }



  
  //#addDoc{ background-image:url(../img/addDoc.png); }
  #selectBox{ position:absolute; top:40px; left:11px; z-index:1; }

  
  //#addDate{ background-image:url(../img/add.png); }
 
  ul{ list-style-type: none; padding: 0px; margin: 0px; cursor:pointer; }
  li{ background-color: #fff; margin: 2px 0; padding:2px 10px; -webkit-box-shadow:$shadow; -moz-box-shadow:$shadow; box-shadow:$shadow}
  li:hover{ background-color:#efefef }
  li:active{ -webkit-box-shadow:$noshadow; -moz-box-shadow:$noshadow; box-shadow:$noshadow; margin: 4px 0 0 2px; }


  h1, .datetitle{ font-size: 18px; }
  h2{ font-size: 15px; color:#333; }

  .hltx{ color: $highlightColor; font-weight:bold; }
  p, .content{ font-size: 12px; font-weight:normal; }
  .label{ font-size:0.8em; color:#999; font-weight:bold; }
  input{ font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

  .addDimension{ padding: 7px 0 0; cursor:pointer; color:#999; background-position: center top; vertical-align:bottom;
    background-image:url(../img/editAdd.png); background-repeat:no-repeat; font-size:8px; }
  #displayDate input{ font-size: 18px; }
  
  .changeUnit{ background-image:url(../img/dateToDur.png); margin:2px 5px; padding:1px 13px; }
  .durtodate{ background-image:url(../img/durToDate.png); margin:2px 5px; padding:1px 13px; }
  #check{ background-image:url(../img/check.png); margin:2px 5px; padding:1px 13px; }
  #dateEditMode{ }
  #displaySubtitle input{ font-size: 14px; }
  #recoverElement{ position:absolute; text-align:left; bottom:10px; left:10px; font-size:10px; }


.refline{ shape-rendering: crispEdges; stroke: #ccc; stroke-width:1px; }
.timelineItem{
    -moz-transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    cursor: pointer;
    }
.selected{ fill: $highlightColor; }
.selectedSec{ fill: $highlightColorHalf;  }

.datelabel{ display: none; text-align: center; }
.visible{ display: block; }



#fileinfo{ position:absolute; right:10px; top:10px; }


// D3 Timeline Styles
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}
#timeline{ background-color:#fff; 
  .timeline-label { font-family: sans-serif; font-size: 32px; }
  .extent{ fill: none; stroke: #999; stroke-width: 1px; stroke-dasharray: 5 }
}

#timeline2 .axis {
  transform: translate(0px,30px);
  -ms-transform: translate(0px,30px); /* IE 9 */
  -webkit-transform: translate(0px,30px); /* Safari and Chrome */
  -o-transform: translate(0px,30px); /* Opera */
  -moz-transform: translate(0px,30px); /* Firefox */
}

.coloredDiv {
  height:20px; width:20px; float:left;
}

.nouserselect{
  -moz-user-select:-moz-none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none
   }

.nodisplay{ display:none; }
.notSelectable{ color:#ccc; }
.notSelectable:hover{ background-color:#fff !important; }

#inputOverlay{ display:none; position:absolute;top:0; right:0; bottom:0; left:0; background-color:rgba(255,255,255,0.9); z-index:11; padding:20px;
  #closeInput{ position:absolute; top:0px; right:0; height:50px; width:50px; background-image:url(../img/closeInput.png); background-repeat:no-repeat; background-position:center; cursor:pointer;}
  #inputContainer{ width:100%; margin: 0 auto; height:100%;
    #insertText{ background-color:#efefef; padding:20px; margin:0 0 30px 0; @include calc(height, "100% - 140px");}
    #insertFile{ background-color:#efefef; text-align:center; height:55px; padding:5px; }
    textarea{ width:100%; min-height:100px; @include calc(height , "100% - 190px"); resize: none; }
  }
  h1{ font-size:20px; margin:0 0 15px 0; }
  .optional{ color:#666; font-style:italic; font-size:0.8em; }
  .loading{ display:none; position:absolute;top:0; right:0; bottom:0; left:0; background-color:rgba(255,255,255,0.7); z-index:12;
    img{ width:80px; height:85px; position:absolute; top:50%; margin-top:-42px; left:50%; margin-left:-40px; }
  }
  .btn{ margin:0 auto; border:1px solid #efefef; background-color:#fff; cursor:pointer; width: 50px; text-align: center; height: 30px; line-height:30px;
    box-shadow: $shadow; -moz-box-shadow: $shadow; -webkit-box-shadow: $shadow; }
  .btn:active{ box-shadow: $noshadow; -moz-box-shadow: $noshadow; -webkit-box-shadow: $noshadow;
    margin: 2px 0px 0px 2px; }
}

#saved{ display:none; position:fixed; bottom:25px; right:0; color:#999; font-size:10px; padding:3px 5px 3px 25px; font-style:italic; background-image:url(../img/check.png); background-repeat:no-repeat; background-position:left;}
#guide{ position:fixed; bottom:0; right: 0; padding: 5px; }
#guide a{ text-decoration: none; font-weight:bold; color:#666; font-size:0.8em; }