html, body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: #efefef;
  height: 100%;
  margin: 0; }

#leftBox {
  position: absolute;
  height: 100%;
  width: 25%;
  background-color: #fff;
  top: 0;
  left: 0; }

#rightBox {
  position: absolute;
  height: 100%;
  width: 75%;
  top: 0;
  left: 25%; }
  #rightBox #topBox {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #efefef; }
  #rightBox #bottomBox {
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 100%;
    background-color: #efefef; }

.ctl {
  margin: 10px;
  padding: 5px 10px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 0px #666666;
  -moz-box-shadow: 2px 2px 0px #666666;
  -webkit-box-shadow: 2px 2px 0px #666666; }

.ctlBtns {
  width: 25px;
  height: 25px;
  margin: 9px 2px 10px 10px;
  border: 1px solid #efefef;
  background-repeat: no-repeat;
  float: left;
  background-color: #fff;
  background-position: center;
  cursor: pointer;
  box-shadow: 2px 2px 0px #666666;
  -moz-box-shadow: 2px 2px 0px #666666;
  -webkit-box-shadow: 2px 2px 0px #666666; }

.ctlBtns:active, .ctl:active {
  box-shadow: 0px 0px 0px #666666;
  -moz-box-shadow: 0px 0px 0px #666666;
  -webkit-box-shadow: 0px 0px 0px #666666;
  margin: 12px 0px 8px 12px; }

#addDoc, #addDate {
  background-image: url(../img/add.png);
  margin: 5px; }

#addDate {
  position: absolute;
  top: 250px;
  left: 10px; }

#prevDate, #nextDate {
  position: absolute;
  top: 105px;
  background-image: url(../img/arrows.png); }

#prevDate {
  left: 10px;
  background-position: left; }

#nextDate {
  right: 10px;
  background-position: right; }

#addDoc:active, #addDate:active {
  margin: 8px 2px 2px 8px; }

#leftBox #view_switch {
  width: 100%;
  height: 20px;
  position: absolute;
  z-index: 10;
  text-align: center; }
#leftBox #docSwitcher {
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 10;
  height: auto;
  min-height: 40px;
  /*.docBtn_0{ background-color: $doc0; }
  .docBtn_1{ background-color: $doc1; }
  .docBtn_2{ background-color: $doc2; }*/ }
  #leftBox #docSwitcher .docBtn {
    padding: 5px 15px 3px 8px;
    margin: 0 5px 7px 0;
    float: left;
    cursor: pointer;
    position: relative;
    -moz-box-shadow: 2px 2px 0px #666666;
    -webkit-box-shadow: 2px 2px 0px #666666;
    box-shadow: 2px 2px 0px #666666;
    font-size: 12px;
    max-width: 170px;
    height: 25px;
    overflow: hidden;
    line-height: 25px; }
  #leftBox #docSwitcher .inactive {
    font-size: 5px;
    background-color: #999 !important;
    color: white !important; }
  #leftBox #docSwitcher .inactive .hideDoc {
    background-image: url("../img/reload.png") !important; }
  #leftBox #docSwitcher .docBtn:active, #leftBox #docSwitcher .activeBtn {
    margin: 2px 3px 5px 2px;
    -moz-box-shadow: 0px 0px 0px #666666;
    -webkit-box-shadow: 0px 0px 0px #666666;
    box-shadow: 0px 0px 0px #666666; }
  #leftBox #docSwitcher .hideDoc {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    right: 2px;
    background-image: url("../img/delete.png");
    background-size: 100%; }
#leftBox .sidebar {
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 50px 20px 20px;
  border-right: 1px solid #333;
  box-sizing: border-box; }
#leftBox .activetab {
  z-index: 1; }
#leftBox .highlighted {
  background-color: rgba(255, 255, 157, 0.5); }
#leftBox .timex {
  cursor: pointer; }
#leftBox .txtData .tx {
  color: #ff6138;
  font-weight: bold; }
#leftBox #listData .listEl {
  cursor: pointer; }
#leftBox #listData .listEl .subtitle {
  display: none;
  font-size: 0.8em;
  padding-bottom: 10px;
  color: #666; }
#leftBox #listData .listEl:hover .subtitle, #leftBox #listData .highlighted .subtitle {
  display: block; }
#leftBox #listData ul > .doc_0 {
  color: #a6cee3; }
#leftBox #listData ul > .doc_1 {
  color: #b2df8a; }
#leftBox #listData ul > .doc_2 {
  color: #fb9a99; }
#leftBox #listData ul > .doc_3 {
  color: #fdbf6f; }
#leftBox #listData ul > .doc_4 {
  color: #cab2d6; }
#leftBox #listData ul > .doc_5 {
  color: #ffff99; }
#leftBox #listData ul > .doc_6 {
  color: #1f78b4; }
#leftBox #listData ul > .doc_7 {
  color: #33a02c; }
#leftBox #listData ul > .doc_8 {
  color: #e31a1c; }
#leftBox #listData ul > .doc_9 {
  color: #ff7f00; }
#leftBox #listData ul > .doc_10 {
  color: #6a3d9a; }
#leftBox #listData ul > .doc_11 {
  color: #b15928; }
#leftBox #listData ul > li > span {
  color: #000; }

#topBox #tlc {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 20px;
  font-weight: lighter;
  color: #999;
  margin: 10px; }
#topBox #selectBox {
  position: absolute;
  top: 40px;
  left: 11px;
  z-index: 1; }
#topBox #mergeDates {
  background-image: url(../img/merge.png); }
#topBox #deleteAll {
  background-image: url(../img/deleteAll.png); }
#topBox #loadData {
  position: absolute;
  right: 80px;
  background-image: url(../img/loadData.png); }
#topBox #loadDataOptions {
  position: absolute;
  top: 40px;
  z-index: 1;
  right: 82px; }
#topBox #saveState {
  position: absolute;
  right: 45px;
  background-image: url(../img/saveState.png); }
#topBox #exportJson {
  position: absolute;
  right: 10px;
  background-image: url(../img/exportJson.png); }
#topBox ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer; }
#topBox li {
  background-color: #fff;
  margin: 2px 0;
  padding: 2px 10px;
  -webkit-box-shadow: 2px 2px 0px #666666;
  -moz-box-shadow: 2px 2px 0px #666666;
  box-shadow: 2px 2px 0px #666666; }
#topBox li:hover {
  background-color: #efefef; }
#topBox li:active {
  -webkit-box-shadow: 0px 0px 0px #666666;
  -moz-box-shadow: 0px 0px 0px #666666;
  box-shadow: 0px 0px 0px #666666;
  margin: 4px 0 0 2px; }

#bottomBox .display {
  width: 400px;
  text-align: center;
  font-size: 0.5;
  height: auto;
  left: 50%;
  margin-left: -200px;
  margin-top: 20px;
  position: relative; }
  #bottomBox .display #name {
    font-size: 1;
    font-weight: bold; }
  #bottomBox .display #sentence {
    font-style: italic;
    margin-bottom: 10px;
    color: #666; }
  #bottomBox .display #tools {
    margin-left: auto;
    margin-right: auto;
    width: 40px; }
    #bottomBox .display #tools .tool {
      width: 30px;
      height: 30px;
      margin: 5px;
      float: left;
      cursor: pointer;
      background-repeat: no-repeat; }
    #bottomBox .display #tools #tool_delete {
      background-image: url(../img/delete.png); }
#bottomBox #selectedItemInfobox {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 15px;
  line-height: 15px;
  font-size: 9px;
  background-color: #efefef;
  text-align: center; }
#bottomBox h1, #bottomBox .datetitle {
  font-size: 18px; }
#bottomBox h2, #bottomBox .subtitle {
  font-size: 15px;
  color: #333; }
#bottomBox .hltx {
  color: #ff6138;
  font-weight: bold; }
#bottomBox p, #bottomBox .content {
  font-size: 12px;
  font-weight: normal; }
#bottomBox .label {
  font-size: 0.8em;
  color: #999;
  font-weight: bold; }
#bottomBox input {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center; }
#bottomBox .media p {
  font-size: 0.8em; }
#bottomBox #addMedia {
  width: 80px;
  height: 35px;
  margin: 15px auto; }
  #bottomBox #addMedia #addMediaBtn {
    border: 1px solid #efefef;
    background-color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.7em;
    padding: 3px 8px;
    color: #333;
    box-shadow: 2px 2px 0px #666666;
    -moz-box-shadow: 2px 2px 0px #666666;
    -webkit-box-shadow: 2px 2px 0px #666666;
    float: left; }
  #bottomBox #addMedia #addMediaBtn:active {
    box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    -webkit-box-shadow: 0px 0px 0px #666666; }
  #bottomBox #addMedia #mediaIndicator {
    width: 25px;
    height: 25px;
    background-image: url(../img/hasMedia.png);
    margin-top: -24px;
    margin-left: 100px; }
  #bottomBox #addMedia .hasMedia {
    background-position: right; }
#bottomBox .addDimension {
  padding: 7px 0 0;
  cursor: pointer;
  color: #999;
  background-position: center top;
  vertical-align: bottom;
  background-image: url(../img/editAdd.png);
  background-repeat: no-repeat;
  font-size: 8px; }
#bottomBox #displayDate input {
  font-size: 18px; }
#bottomBox .changeUnit {
  background-image: url(../img/dateToDur.png);
  margin-top: 5px;
  float: right; }
#bottomBox .durtodate {
  background-image: url(../img/durToDate.png);
  margin-top: 5px;
  float: right; }
#bottomBox #check {
  background-image: url(../img/check.png);
  margin-top: 5px;
  float: right; }
#bottomBox #displaySubtitle input {
  font-size: 14px; }
#bottomBox #recoverElement {
  position: absolute;
  text-align: left;
  bottom: 10px;
  left: 10px;
  font-size: 10px; }

.refline {
  shape-rendering: crispEdges;
  stroke: #ccc;
  stroke-width: 1px; }

.timelineItem {
  -moz-transition: all 300ms ease-in;
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  cursor: pointer; }

.selected {
  stroke: #ff6138;
  stroke-width: 3px; }

.selectedSec {
  stroke: rgba(255, 97, 56, 0.4);
  stroke-width: 3px; }

.datelabel {
  display: none;
  text-align: center; }

.visible {
  display: block; }

#fileinfo {
  position: absolute;
  right: 10px;
  top: 10px; }

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges; }

.axis text {
  font-family: sans-serif;
  font-size: 10px; }

#timeline {
  height: 300px;
  background-color: #fff; }
  #timeline .timeline-label {
    font-family: sans-serif;
    font-size: 32px; }
  #timeline .extent {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    stroke-dasharray: 5; }

#timeline2 .axis {
  transform: translate(0px, 30px);
  -ms-transform: translate(0px, 30px);
  /* IE 9 */
  -webkit-transform: translate(0px, 30px);
  /* Safari and Chrome */
  -o-transform: translate(0px, 30px);
  /* Opera */
  -moz-transform: translate(0px, 30px);
  /* Firefox */ }

.coloredDiv {
  height: 20px;
  width: 20px;
  float: left; }

.nouserselect {
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.nodisplay {
  display: none; }

.notSelectable {
  color: #ccc; }

.notSelectable:hover {
  background-color: #fff !important; }

#inputOverlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 11;
  padding: 20px; }
  #inputOverlay #closeInput {
    position: absolute;
    top: 0px;
    right: 0;
    height: 50px;
    width: 50px;
    background-image: url(../img/closeInput.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  #inputOverlay #inputContainer {
    width: 100%;
    margin: 0 auto;
    height: 100%; }
    #inputOverlay #inputContainer #insertText {
      background-color: #efefef;
      padding: 20px;
      margin: 0 0 30px 0;
      height: -webkit-calc(100% - 140px);
      height: -moz-calc(100% - 140px);
      height: calc(100% - 140px); }
    #inputOverlay #inputContainer #insertFile {
      background-color: #efefef;
      text-align: center;
      height: 55px;
      padding: 5px; }
    #inputOverlay #inputContainer textarea {
      width: 100%;
      min-height: 100px;
      height: -webkit-calc(100% - 190px);
      height: -moz-calc(100% - 190px);
      height: calc(100% - 190px);
      resize: none; }
  #inputOverlay h1 {
    font-size: 20px;
    margin: 0 0 15px 0; }
  #inputOverlay .optional {
    color: #666;
    font-style: italic;
    font-size: 0.8em; }
  #inputOverlay .loading {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 12; }
    #inputOverlay .loading img {
      width: 80px;
      height: 85px;
      position: absolute;
      top: 50%;
      margin-top: -42px;
      left: 50%;
      margin-left: -40px; }
  #inputOverlay .btn {
    margin: 0 auto;
    border: 1px solid #efefef;
    background-color: #fff;
    cursor: pointer;
    width: 50px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    box-shadow: 2px 2px 0px #666666;
    -moz-box-shadow: 2px 2px 0px #666666;
    -webkit-box-shadow: 2px 2px 0px #666666; }
  #inputOverlay .btn:active {
    box-shadow: 0px 0px 0px #666666;
    -moz-box-shadow: 0px 0px 0px #666666;
    -webkit-box-shadow: 0px 0px 0px #666666;
    margin: 2px 0px 0px 2px; }

#saved {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 0;
  color: #999;
  font-size: 10px;
  padding: 3px 5px 3px 25px;
  font-style: italic;
  background-image: url(../img/check.png);
  background-repeat: no-repeat;
  background-position: left; }

#guide {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px; }

#guide a {
  text-decoration: none;
  font-weight: bold;
  color: #666;
  font-size: 0.8em; }
